

.content-container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". h ."
    ". c .";
}

.content-container div {
    /* border: 1px solid white; */
}

.heading {
    grid-area: h;
    text-align: center;
    margin-top: 120px;
    margin-bottom:20px;
    min-width: 374px;
    
}
.heading h1 {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 400%;
    
}
h1 span {
    width: 100%;
    color: #ffffff;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  h1 span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
  }
  h1 span:first-child {
    animation-delay: 0.7s;
  }
  h1 span:last-child {
    color: #ffe221;
    animation-delay: 0.5s;
  }
  @keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    60% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
      transform: translateY(50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
  }
.content {
    grid-area: c;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.recent-added-client {
    width: 70%;
    height:300px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(236, 224, 224, 0.2), 0 6px 20px 0 rgba(248, 242, 242, 0.19), 0 0 10px 200px rgba(250, 242, 242, 0.7) inset;
    
    
    
}
.uncompleted-task-clients,.uncompleted-task, .client{
    border-radius: 10px;
    
}
.uncompleted-task-clients {
    height: 300px;
    width: 30%;
    
}
.uncompleted-task,.client {
    height:145px;
    box-shadow: 0 4px 8px 0 rgba(241, 233, 233, 0.2), 0 6px 20px 0 rgba(238, 232, 232, 0.19), 0 0 10px 100px rgba(250, 242, 242, 0.7) inset;
    width: 100%;
    transition: all ease 0.5s;
    min-width: 168px;
}
.logo {
  /* border-bottom: 1px dotted rgba(240, 247, 147, 0.8); */
}

.uncompleted-task:hover,.client:hover {
    transform: translateY(-5px);
    box-shadow:  0 4px 8px 0 rgba(241, 233, 233, 0.2), 0 6px 20px 0 rgba(238, 232, 232, 0.5);
}
.uncompleted-task {
    margin-bottom: 10px;
    text-align: center;
}
.client {
    margin-top: 10px;
    text-align: center;
}
.recent-added-client {
  text-align:center;
  min-width: 480px;
}
.bxs-face, .bxs-briefcase-alt, .bx-group {
  font-size: 300%;
  padding-top: 10px;
  color:rgb(25, 134, 161);
  pointer-events: none;
}
.bxs-briefcase-alt {
  font-size: 250%;
}
.client span, .uncompleted-task span, .recent-added-client span {
  display: inline-block;
  color: rgba(78, 82, 83, 0.8);
  transform: translateY(-10%);
  font-size: 150%; 
  font-weight: bold;
  text-transform: uppercase;
}
.client span:hover, .uncompleted-task span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.clientNumber, .taskNumber {
  margin: 10px;
  font-size: 200%;
  font-weight: bold;
  color: rgba(59, 78, 5, 0.8);
}
.uncompleted-task:hover .taskNumber,.client:hover .clientNumber {
  color: rgba(221, 248, 148, 0.8);
}

.dialogBox {
  height: 500px;
  width: 500px;
  border: 2px solid #888;
  border-radius: 10px;
  box-sizing: border-box;
  border: 0.1em solid #bbb;
  background: #ecf0f1;
  box-shadow: 0 0 1em 0.1em #888;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  overflow: auto;
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  scrollbar-width: none;
  display: none;
}
/* creating a transparent page wrapper */
.dialogBox::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: -1;
}
/*styling dialogbox contents */
.dialogBox h3, .dialogBox h2 {
  font-size: 1.3em;
  font-family: Verdana, Geneva, sans-serif;
  padding: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(194, 235, 48, 0.5);
  text-align: center;
  text-transform: uppercase;
  line-height: 10px;
  display: inline-block;
  padding-right: 0;
  
}
.dialogBox .bx {
    font-size: 1.5em;
    color:rgba(0, 0, 0, 0.5);
   line-height:10px;
   transform: translateY(20%);
}

.dialogBox h2 {
  margin-left: 30px;
  
}
/* styling dialog buttons */
.controls input {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 1em;
  margin: 30px 20px;
  cursor: pointer;
}
.controls input:nth-child(1) {
  color: rgb(207, 15, 15);
  background: rgba(168, 159, 245, 0.3);
}
.display {
  display: block !important;
}
.hide {
  display: none !important;
}

.dialogBox .due-task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow:auto;
  width: 480px;
  height: 350px;
  text-align:center;
  padding:0;
  scrollbar-width: none;
}

.card__side {
  margin: 10px;
  min-height: 250px;
  min-width:210px;
  max-height: 350px;
  max-width:210px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  width: 100%;
  border-radius: 3px;
  overflow: auto;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow:0 0 2px 2px rgba(121, 116, 116, 0.4);
  scrollbar-width: none;
}

/* .card__side--front {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.2);

} */
.card__title {
  /* height: 70px;
  margin: 30px 0 10px 0; */
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
  line-height: 35px;
  scrollbar-width: none;

}


.card__heading {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: rgb(116, 12, 12);
  width: 100%;
}


.card__details {
  /* margin-top: 10px;
  padding: 10px 15px; */
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
  max-height:340px;
  scrollbar-width: none;


}
.card__details::-webkit-scrollbar,
.card__title::-webkit-scrollbar,
.dialogBox .due-task::-webkit-scrollbar, 
.dialogBox::-webkit-scrollbar,
.card__side::-webkit-scrollbar {
  display: none;

}

.card__details ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: normal;
  padding: 5px;
  
}

.card__details ul li:not(.card__details ul li:last-child) {
  border-bottom: 1px dotted rgb(14, 98, 207,0.7);
}

#slider, ul
{
	height: 200px;
}

#slider
{
	overflow: hidden;
	margin-top: 10px;
	border-radius: 0 0 10px 10px;
	/* box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25); */
	position: relative;
	width: 100%;
  height: 225px;
}

#slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
	margin-left: -25px;
  font-family: century gothic;
  color: #666;
}

/*** Content ***/

.slider-container
{
	margin: 0 auto;
	padding: 0;
	width: 100%;
  min-height: 180px;

}
.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 10% 0 10%;
  width: 100%;
  max-width: 440px;
  min-height: 200px;
  word-break: break-all;
  word-wrap: break-word;
}
.slider-container .bx-user {
  font-size: 10em;
  transform: translateY(15%) ;
  color:#f50daf;
  
}
.slider-container span {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
  font-size:1em;
  text-transform: none;
  color: rgba(148, 10, 240, 0.8);
}
.slider-container .client_details {
  transform: translateY(20%) ;
  min-width:202px;
  margin-left: 10px;
  
}
.slider-container h3 {
  font-size: 2em;
  text-align: center;
  color:rgba(17, 17, 16, 0.9);
}



/*** target hooks ****/

@keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	animation: slide-animation 20s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
  animation-play-state:paused;
}
#slider ul h3:hover {
  cursor: pointer;
  text-decoration: underline rgba(9, 100, 204, 0.5);
}

.notification {
  position: fixed;
  right: 0;
  top: 0;
  color: rgba(250, 242, 242, 0.5);
  transition: all ease 0.5s;
  margin-right: 5px;
}
.notification:hover {
  cursor: pointer;
  animation: bell 1S linear infinite alternate-reverse ;
  transform-origin: center bottom;

}
@keyframes bell {
  0%{
    transform: rotate(0);
  }25%{
    transform:rotate(5deg);
  }50%{
    transform:rotate(-5deg);
  }75%{
    transform:rotate(5deg);
  }100%{
    transform:rotate(0);
  }
}
.notification i{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 250%;
}
.notification span{
  position: absolute;
  right: 15PX;
  top: 8PX;
  color:rgb(213, 247, 22);
}




@media (max-width: 1080px) {
    .heading h1 {
        font-size: 250%;
    }
    .bxs-briefcase-alt,.bxs-face,.bx-group {
      font-size: 200%;
    }
    .client span, .uncompleted-task span, .recent-added-client span {
      font-size: 100%; 

    }
    .uncompleted-task span {
      font-size: 100%;
    }
    .clientNumber, .taskNumber {
      font-size: 150%;
    }
    .slider-container h3 {
      font-size: 1.5em;
    }
    .slider-container .bx-user {
      font-size: 5em;
      transform: translateY(100%) ;
      margin-left: 30px;
    }
    .slider-container .client_details {
      transform:translateY(30%) ;
      margin-left:30px;
    }
    .recent-added-client {
      min-width: 355px;
    }
    .client, .uncompleted-task{
      min-width: 120px;
    }

    .slider-container span, .slider-container h3 {
      max-width: 160px;
      word-break: break-all;
      word-wrap: break-word;
      
    }
    .inner-container {
      justify-content: flex-start;
    }
    .notification i{
      font-size: 200%;
    }
    .notification span {
      font-size:0.8em;
      position: absolute;
      right: 12PX;
      top: 8PX;
    }
}
@media (max-width: 600px){
  .content-container {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !;
    grid-template-areas: 
    "h"
    "c" !important;
  }

  .none-when-small{
    display:none;
  }

  .recent-added-client {
    min-width: 180px;
  }
  .uncompleted-task {
    margin-top: 0;
  }
  .heading, .content{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  .dialogBox {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
}
  .heading {
    font-size:15px;
  }

  .home-section ,.sidebar.open ~ .home-section{
    left: 35px;   
  }

  
}
