@media screen and (max-width: 600px){
    body #login-container {
        display: flex !important;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        margin: 0 auto;
        transform: translateX(-50%) !important;
        -webkit-transform: translateX(15%) !important;
        -moz-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
        margin-left:-50%;
}

}
@media screen and (max-width: 800px) {
    body { 
        width:fit-content;
        text-align: center;
    }
    body #login-container {
        display: flex !important;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        margin: 0 auto;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        margin-left:-50%;
    }
    #arthur-bkg h1{
        font-size: 25px !important;
        width: fit-content;
        min-width: none;
    }
    #arthur-bkg {
        width: fit-content;
        min-width: none;
    }

    body #form-inner {
        background: rgb(236, 236, 236, 0.7);
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        padding: 40px;
}

    body #form-inner > h1 {
        color: rgb(39, 24, 104);
    }

    body form .txtfield {
        position: relative;
        border-bottom: 3px solid rgb(39, 24, 104);
        margin: 30px 0;
    }
    
    body .txtfield label {
        color: rgb(39, 24, 104);
    }

    body .txtfield input {
        color: rgb(39, 24, 104);
    }

    body .txtfield input:focus ~ label,
    body .txtfield input:valid ~ label {
        color: rgb(89, 22, 167);
    }

    body button[type="submit"] {
        background: rgb(236, 236, 236, 0.8);
        color:rgb(39, 24, 104);
    }

    body #logcrnew {
        color: rgb(39, 24, 104); 
    }
    
    body #logcrnew a {
        color: #17664c;
    }
}

body {
    margin: 0px;
    background-attachment: fixed;
    background: url("/images/login-bkg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height:100vh;
    /* min-width: 100vh; */
}

#login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"img form";
}


#arthur-bkg {
    grid-area: img;
    width: 100%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content:center;
}
#arthur-bkg h1{
    text-align: center;
    text-shadow: 0 0 1px rgb(243, 219, 219),
                0 0 2px rgb(226, 245, 174),
                0 0 3px rgb(215, 250, 60),
                0 0 4px #e9e68e,
                0 0 1px #f5f4d5,
                0 0 1px #f3f2d5,
                0 0 1px #eeedd7,
                0 0 5px #dbe7ee00;
    font-size: 50px;
    color:#ffffff;
    
    
    
}


#login-form {
    grid-area: form;
    /* background: linear-gradient(120deg, rgb(139, 215, 250), rgb(101, 83, 122)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
}

#form-msg {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(245, 245, 245);
}

#form-inner {
    padding: 60px 80px 60px 80px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(250, 246, 246, 0.2), 0 6px 20px 0 rgba(250, 242, 242, 0.19);
    width: 300px;
    
    
}

#form-inner > h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding:0 0 20px 0;
    font-size: 50px;
    margin-top: 0px;;
}

form .txtfield {
    position: relative;
    border-bottom: 3px solid #F7F7F7;
    margin: 30px 0;
}

.txtfield input { 
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;  
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.txtfield label {
    position: absolute;
    left: 5px;
    top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFEAC9;
    width: 250px;
    font-size: 20px;
    opacity: 0.8;
    pointer-events: none;
    transition: .3s;
}

.txtfield span::before {
    content: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .3s;
}

.txtfield input:focus ~ label,
.txtfield input:valid ~ label {
    top: -12px;
    color: #865df7;
    font-size: 14px;
}

.txtfield input:focus ~ span::before,
.txtfield input:valid ~ span::before {
    width: 100%;
} 

button[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    box-shadow: 0 0 5px #F7F7F7;
    border-radius: 20px;
    font-size: 18px;
    color: #FFEAC9;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    box-shadow: 0 0 20px #ffffff;
    font-size: 20px;
    transition: .4s;
}

#logcrnew {
    margin:0 0 30px 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFEAC9;  
}

#logcrnew a {
    color: #865df7;
    text-decoration: none;
}
#logcrnew a:hover {
    text-decoration: underline;
}

