.container {
    display: grid;
    grid-template-columns:2fr 5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". msg ."
        ". s .";
    
}
#msg {
  grid-area: msg;
  text-align: center;
  /* margin: 10px; */
  padding-top: 10px;
  /* margin-bottom: 50px; */
  color: #d3e01c;
}
#msg h3 {
  animation: msg 3s linear forwards;
  transition: all ease 3s;
  
}
@keyframes msg {
  from {
    opacity: 1;
  }to {
    opacity: 0;
  }
}
.setting-box {
    grid-area: s;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin: 60px 0 10px 0;
    height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    box-shadow: 0 0 1px 1px white;
    min-width: 420px;
    box-shadow: 1px 1px 1px 1px rgba(248, 244, 244, 0.8);
   
}
.nav {
    flex: 3;
    /* border-right: 1px solid white; */
    border-radius: 10px 0 0 10px;
    background-color:rgba(255, 255, 255, 0.8);
    /* box-shadow: 0 0 1px 1px white; */
}
.nav ul {
    text-align: left;
    /* margin-top: 20px; */
}
.nav ul li {
   padding: 10px 10px;
   vertical-align: center;
   /* border-bottom: 1px solid black; */
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   list-style: none;
   /* border-bottom: 1px solid rgba(0,0, 0, 0.3); */
   font-weight: bold;
   min-width: 180px;
   /* word-break: break-all; */
}
.nav ul li::after {
    display:block;
    clear: both;
    content: "";
}
.nav ul li:nth-child(1){
    border-radius: 10px 0 0 0;
}
.nav ul li:hover {
    background-color:rgba(31, 98, 223, 0.3); 
    border-bottom:none;
    color: white;
    text-shadow: 1px 1px 1px 1px whitesmoke;
}
.click-background {
    background-color:rgba(0,0, 0, 0.3); 
    border-bottom:none;
    color: white;
    text-shadow: 1px 1px 1px 1px whitesmoke;
}
.nav ul li i {
    float: right;
    font-size: 1.5em;
    line-height: 25px;

}
.setting-content {
    flex: 8;  
    min-width: 260px;
}

.setting-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px 40px 50px;
    /* box-shadow: 0 0 15px #f7ecec; */
    height: 100%;
    min-width: 260px;
    /* margin-top: 20px; */
}
form .txtfield {
    position: relative;
    border-bottom: 3px solid #F7F7F7;
    margin: 30px 0;
  }
  
  .txtfield input { 
    display: inline-block;
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;  
    color: white;
    background-color: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
  }
  
  
  .txtfield label {
    position: absolute;
    left: 5px;
    top: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    width: 250px;
    font-size: 18px;
    opacity: 0.9;
    pointer-events: none;
    transition: .3s;
  }
  
  .txtfield span::before {
    content: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .3s;
  }
  .sys-message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(147, 236, 30);
    position: absolute;
    top: 30px;
    left: 0px;
    white-space: nowrap;
    margin-top: 5px;
  }
  
  .txtfield input:focus ~ label,
  .txtfield input:valid ~ label
   {
    top: -12px;
    color: #865df7;
    font-size: 15px;
  }
  
  .txtfield input:focus ~ span::before,
  .txtfield input:valid ~ span::before {
    width: 100%;
  }
  label[for="companyName"] {
    top: -12px;
    color: #865df7;
    font-size: 15px;
  }
  
  #sub-res {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  button[type="submit"] {
    width: 45%;
    height: 50px;
    border: none;
    background: none;
    box-shadow: 0 0 10px #F7F7F7;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(221, 208, 224);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    min-width: 110px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    box-shadow: 0 0 20px #ffffff;
    font-size: 17px;
    transition: .4s;
  }
  #companyName {
      pointer-events: none;
      color: rgb(217, 240, 17);
  }
  .txtfield span::before {
    content: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .3s;
  }
 #warning i {
   font-size: 20em;
   color:rgba(245, 98, 13, 0.8);
   
 }
 .transition {
   transition: all 0.3s ease;
 }
 .dialogBox {
  height: 220px;
  width: 330px;
  border: 2px solid #888;
  border-radius: 10px;
  box-sizing: border-box;
  border: 0.1em solid #bbb;
  background: #ecf0f1;
  box-shadow: 0 0 1em 0.1em #888;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: none;
}
/* creating a transparent page wrapper */
.dialogBox::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: -1;
}
/*styling dialogbox contents */
.dialogBox p {
  font-size: 1.2em;
  font-family: Verdana, Geneva, sans-serif;
  padding: 1em;
  color: rgba(0, 0, 0, 0.5);
  float: right;
  text-shadow: 1px 1px 1px rgba(194, 235, 48, 0.5);
}
/* styling dialog buttons */
.controls input {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 1em;
  margin: 30px 20px;
  cursor: pointer;
}
.controls input:nth-child(1) {
  color: rgb(207, 15, 15);
  background: rgba(168, 159, 245, 0.3);
}
.display {
  display: block !important;
}

@media screen and (max-width: 600px) {
  .setting-box, .bx-error {
    transform:scale(0.7)  ;
    -webkit-transform:scale(0.7)  ;
    -moz-transform:scale(0.7)  ;
    -ms-transform:scale(0.7)  ;
    -o-transform:scale(0.7)  ;
    min-width: none;
}
}
