@media screen and (max-width: 1000px){
    .heading {
        font-size:200% !important;
    }
    #buttons {
      height: 20px !important;
      overflow: hidden;
    }
    #buttons ul li .button {
      font-size: 12px;
      margin-top: 10px;
      width: 50%;
      min-width: 120px;
      height: 100%;
      min-height: 30px;
      text-align: center;
      margin-right: 2px ;
      padding: 0px;
    }
    #buttons:hover {
      height: 100% !important;
    }
    #buttons ul li i {
      font-size: 20px;
      text-align:right;
      float: right;
      margin-right: 0px;
      background-color: none;
   }
   #add-form form {
    display: block;
  }
  #add-form form textarea {
    width: 200px;
    border: 1px solid rgb(247, 244, 248);
  }
}

@media screen and (max-width: 600px){
  section .users-box {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    grid-template-areas: 
    "msg"
    "h"
    "au"
    "form"
    "u" !important;
}
  .heading-div {
    margin-top: 0 !important;
  }
  .nav,.dialogBox  {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  #add-form{
    transform: scale(0.7) translateX(-10% );
    -webkit-transform: scale(0.7) translateX(-10% );
    -moz-transform: scale(0.7) translateX(-10% );
    -ms-transform: scale(0.7) translateX(-10% );
    -o-transform: scale(0.7) translateX(-10% );
}
  .allTasks-container {
    transform: translateY(-10%) translateX(-10%) scale(0.7);
    -webkit-transform: translateY(-10%) translateX(-10%) scale(0.7);
    -moz-transform: translateY(-10%) translateX(-10%) scale(0.7);
    -ms-transform: translateY(-10%) translateX(-10%) scale(0.7);
    -o-transform: translateY(-10%) translateX(-10%) scale(0.7);
    margin: 0 !important;
}

  .edit_task {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    position: fixed;
    top: 3% !important;
    left: -13% !important;
  }
  .dialogBox::before,.edit_task::before {
    top: -500% !important;
    left:-500% !important;
    height: 1000% !important;
    width: 1000% !important;
  }
}



body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;

  }
  .hide {
      display: none !important;
  }
  .display {
      
      display:block !important;     
  }
  .transition {
      transition: all 0.3s ease;
  }

.heading-div {
    text-align: center ;
    margin: 120px 0 30px 0;
    grid-area:h;
  }

  section {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    /* background: #000; */
    padding-bottom: 50px;
  }
  section .users-box {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      ". msg ."
      ". h ."
      ". au ."
      ". form ."
      ". u .";
  }
  #msg {
    grid-area: msg;
    text-align: center;
    margin: 30px;
    margin-bottom: 50px;
    color: #d3e01c;
  }
  #msg h3 {
    animation: msg 3s linear forwards;
    transition: all ease 3s;
    
  }
  @keyframes msg {
    from {
      opacity: 1;
    }to {
      opacity: 0;
    }
  }
  .nav {
      grid-area:au;
      margin: 10px auto;
      width:100%;
      /* display:none; */
  }
  .nav ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .nav ul li {
    padding: 15px;
    background-color:rgba(8, 8, 8, 0.1);
    box-shadow: 0 0 2px 2px rgba(243, 238, 238, 0.3);
    /* color:black; */
    margin: 10px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 136px;
    /* display:none; */

  }
  .nav ul li:hover {
    background-color:rgba(248, 240, 240, 0.1);
    box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3);
    color: rgb(241, 207, 12);
    /* font-size:larger; */
    transform: rotate(5deg);
    min-width: 136px;
    /* white-space: nowrap; */
  }
  .nav ul li:nth-child(2):hover {
    transform: rotate(-5deg);
  }

  #search-box {
    grid-area: se;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* position: fixed;
    top: 0;
    left: 0; */
  }
  #search-box input {
    width: 60%;
    height: 45px;
    /* border-radius: 5px; */
    margin-bottom: 30px;
    border: none;
    background-color: rgba(248, 234, 234, 0);
    margin-left: 40px;
    border-bottom: 2px solid white;
    color: #f7f7f7;
  }
  #search-box input:focus {
    outline: none;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  
  #search-box i {
    /* position: absolute; */
    z-index: 99;
    color: rgba(233, 225, 225, 0.7);
    /* background-color:rgba(248, 234, 234, 0.3); */
    /* border-radius:0 5px 5px 0; */
    padding: 0;
    font-size: 40px;
  }

   
  .heading  {
    font-size: 380%;
    text-transform: uppercase;
    font-weight: 700;
    color: transparent;
    letter-spacing: 5px;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #eee;
  }

  .allTasks-container {
    margin: 0 auto 50px auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    grid-area: u;

  }
    
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(41, 39, 39, 0.7)
  }
  
  .btn:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: rgba(234, 238, 241, 0.3);
    color: rgb(8, 8, 8);
  }
  
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn:active, .btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .btn--white {
    background-color: #fff;
    color: #777;
    margin: 60px auto;
  }
  
  .btn--white::after {
    background-color: #fff;
  }

  .eachTask {
    display: none;
  }
  
    
  .card {
    -webkit-perspective: 150rem;
            perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    width:300px;
    /* height:450px; */
    min-width:276px;
    min-height: 475px;
  }
  .card:not(last-child){
      margin: 30px;
  }
  
  .card__side {
    min-height: 475px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  
  .card__side--front {
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 5px rgba(234, 238, 241, 0.3);
    position: relative;
  }
  .expire::after {
    content: 'Expired';
    color: rgba(245, 33, 69, 0.8);
    font-weight: bold;
    display: block;
    border: 1px solid grey;
    width: 150px;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    top: 15px;
    left: -38px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
  
  
  .card__side--back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    box-shadow: 0 0 5px 5px rgba(234, 238, 241, 0.3);
  }
  .bx-directions {
    font-size: x-large;
    color:rgba(163, 247, 7, 0.8);
  }
  

  .turnBack {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  .turnFront {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  
  .card__title {
    height: 70px;
    margin: 30px 0 10px 0;
    word-break: break-all;
    word-wrap: break-word;
    overflow-y: auto;
    scrollbar-width: 0;
    line-height: 35px;
    scrollbar-width: none !important;

  }
  
  
  .card__heading {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 100%;
  }
  
  
  .card__details {
    margin-top: 10px;
    padding: 10px 15px;
    word-break: break-all;
    word-wrap: break-word;
    overflow-y: auto;
    max-height:340px;
    scrollbar-width: none;

  }
  .card__details::-webkit-scrollbar,
  .card__title::-webkit-scrollbar{
    display: none;
  }
  
  .card__details ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
  }
  
  .card__details ul li {
    text-align: center;
    font-size: normal;
    padding: 1rem;
  }
  
  .card__details ul li:not(.card__details ul li:last-child) {
    border-bottom: 1px solid #eee;
  }
  
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  /* .bxs-user-detail {
    position: fixed;
    right:0;
    top:0;
    font-size: 40px;
    transition: all ease .4s;
  } */
  .bx:not(.bxs-star) {
      cursor: pointer;
  }
  section .bx:not(.bxs-star):hover {
      color: rgba(190, 238, 18, 0.3) !important;
  }
  .bxs-star {
    color: rgba(200, 236, 40, 0.9);
    float: right;
    font-size:x-large;
  }
  .direction {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .direction i {
    background-color: #3c1053;
    font-size:2em;
    border-radius: 50%;
  }
  .bx-x {
    float:right;
    cursor: pointer;
    color: rgb(248, 241, 241);
  }
  .dialogBox {
    height: 240px;
    width: 330px;
    border: 2px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0.1em solid #bbb;
    background: #ecf0f1;
    box-shadow: 0 0 1em 0.1em #888;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: none;
  }
  /* creating a transparent page wrapper */
  .dialogBox::before {
    content: "";
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: -1;
  }
  /*styling dialogbox contents */
  .dialogBox p {
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
    padding: 1em;
    color: rgba(0, 0, 0, 0.5);
    float: right;
    text-shadow: 1px 1px 1px rgba(194, 235, 48, 0.5);
  }
  /* styling dialog buttons */
  .controls input {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 1em;
    margin: 30px 20px;
    cursor: pointer;
  }
  .controls input:nth-child(1) {
    color: rgb(207, 15, 15);
    background: rgba(168, 159, 245, 0.3);
  }
  #add-form {
    padding: 40px 70px 40px 70px;
    box-shadow: 0 0 15px #f7ecec;
    grid-area: form;
    background: rgba(17, 17, 17, 0.2);
    margin: 20px 0;
    width: 100%;
    text-align: left;
    display: none;
  }
  #add-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  form .txtfield {
    position: relative;
    border-bottom: 3px solid #f7f7f7;
    margin: 30px 0;
  }
  form .no {
    border-bottom: none;
    margin:0 auto;
    margin-bottom: 20px;
  }
  form .txtfield:nth-child(3){
    min-width: 120px !important;
  }
  
  .txtfield input {
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: rgb(225, 238, 43);
    background-color: none;
    font-family: "Josefin Sans", sans-serif;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(235, 231, 26) !important;
  }
  
  .txtfield label {
    position: absolute;
    left: 5px;
    top: -12px;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(240, 227, 227);
    width: 250px;
    font-size: 15px;
    opacity: 0.9;
    pointer-events: none;
    transition: 0.3s;
  }
  p {
    color: rgb(240, 227, 227);
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .txtfield span::before {
    content: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.3s;
  }
  .txtfield select {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color:transparent;
    border: none;
    outline: none;
    color:rgba(236, 236, 32, 0.5);
    font-size:12px;
    word-break: break-all;
    word-wrap: break-word;
    white-space:pre-wrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }

  .txtfield select option {
    font-size:15px;
    color:rgba(243, 235, 235, 1);
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 0;
    margin:0;
    width:100%;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color:rgba(245, 240, 240, 0.7);
    padding: 0;
    border-radius: 5px;
    margin-left: 15px;
    
}
textarea {
    background-color: rgba(20, 19, 19, 0.1);
    display: block;
    height: 150px;
    max-width: 100%;
    width: 550px;
    border: rgba(255, 255, 255, 0.7) 1px solid;
    border-radius: 5px;
    color: #f7f7f7;
    resize: none;
    overflow: auto;
  }
  textarea:focus {
    outline:none;
  }
  
  #sub-res {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  button[type="submit"],
  button[type="reset"],
  .button {
    width: 45%;
    height: 50px;
    border: none;
    background: none;
    box-shadow: 0 0 10px #f7f7f7;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(238, 225, 241);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover,
  .button:hover {
    box-shadow: 0 0 20px #ffffff;
    font-size: 17px;
    transition: 0.4s;
    color:rgba(194, 235, 48, 0.5)
  }
  .edit_task {
    height: 670px;
    width: 500px;
    /* border: 2px solid #888; */
    /* border-radius: 10px; */
    box-sizing: border-box;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }
  .edit_task h2 {
      text-align: center;
      color:rgba(252, 241, 241, 0.7);
      /* font-weight:700; */
  }
  .taskBox::-webkit-scrollbar {
    display: none;
  }
  .taskBox {
    scrollbar-width: none !important;
  }
  /* creating a transparent page wrapper */
  .edit_task::before{
    content: "";
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: -1;
    /* pointer-events: none; */
  }
  .inner-task-form {
    margin: 30px 40px;
  }
  .bx-x {
    float:right;
    cursor: pointer;
    color: rgb(248, 241, 241);
  }
  
  .transition-effect {
    border-color: rgba(247, 247, 14, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    transition:all 1s ease-in-out;
    transform:scale(0);
  }

  #buttons {
    position: fixed;
    right:0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    overflow-y: hidden;
    /* min-width: 220px; */
    transition: all ease .4s;
    
  }
  #buttons:hover {
    /* display:inline-block; */
    min-height: fit-content;
    height: 285px;
    z-index:999;
    
  }
  #buttons ul li {
    list-style: none;
  }
  #buttons .button {
    right: 0;
    font-size: 15px;
    margin-top: 10px;
    width: 50%;
    min-width: 150px;
    height: 100%;
    min-height: 50px;
    text-align: center;
    margin-right: 2px;
    padding: 0px;
    margin-left: 20px;
    background-color:#ffffff;
    color:black;
  }
  #buttons ul li:nth-child(1) .button {
    margin-top: 0;
  }
  #buttons .button:hover{
    color:rgba(122, 122, 8, 0.5);
  }
  #buttons i {
     font-size: 30px;
     text-align:right;
     float: right;
     /* margin: 0 20px 0 0; */
     background-color: none ;
     border: none;
  }
  
  #buttons i:hover{
    color:#888;
  }

  
  
  

  
  

  